html {
overflow-y: scroll;
}

#wrapper {
  background-color: #ffffff;
  padding: 0;
  font-family: "futura-pt",sans-serif !important;
}

#header {
  margin: 0 auto;
}

#logo {
    float: none;
    margin: 0 auto;
    max-width: 200px;
}

#main {
  margin: 0 auto;
}

.business #main {
  max-width: 2000px;
  padding: 0;
}

.business #main .entry {
  padding: 0 2.653%;
  max-width: 928px;
  margin: 0 auto;
}

.searchform, 
#searchform {
    border: 1px solid #000000;
    background-color: #ffffff !important;
    border-radius: 0;
    margin-top: 0;
}

form#searchform input#s {
	border-style: none;
	width: 81%;
	padding: 4px;
  -moz-opacity:1 !important;
  -khtml-opacity: 1 !important;
  opacity: 1 !important;
  font-family: "futura-pt",sans-serif !important;
}

form#searchform {
	border: 1px solid #cccccc;
}

form#searchform .submit {
	color: #000000 !important;
	border-radius: 0 !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
     opacity: 1 !important;
     color: #ffffff !important;
}

body #wrapper .header-widget #searchsubmit {
	background-color: transparent;
	font-size: 1.1em;
	padding:0.2em 0 0 0;
}

h1, h2, h3, h4, h5, ul, p, .post-more a {
	font-family: "futura-pt",sans-serif !important;
}



/*-------------- navigation --------------*/

ul#main-nav {
 list-style: none;
}

ul#main-nav li {
 display: inline;
 margin: 0 1.4em;
}
 
ul.nav li a {
  padding-bottom: 0.3em !important;
}

.menus {
 display: table; /* Allow the centering to work */
 margin: 0 auto;
 }

ul.nav {
 margin-right: 0;
}

#navigation {
  min-height: 3em;
  margin-bottom: 30px;
}

ul.nav li a {
    padding: 0.5em 0.2em;
    font-family: "futura-pt",sans-serif !important;
    text-transform: uppercase;
}

#navigation ul.nav li.current_page_item a,
#navigation ul.nav > li a:hover {
  color: #646464 !important;
}

#navigation ul.nav > li.menu-item-has-children a:hover,
#navigation ul.nav > li.menu-item-has-children.current_page_item a:hover,
#navigation ul.nav > li.menu-item-has-children.current_page_item ul li a {
  border-bottom: none;
}

#navigation ul.nav li ul.sub-menu li a {
  border-top: 1px solid #000000;
  background-color: #ffffff !important;
}

ul#main-nav li ul li a:hover {
  text-decoration: none;
}

#navigation ul.nav ul.sub-menu {
  padding: 0 !important;
}

#navigation ul.nav > li.menu-item-has-children.current_page_item ul.sub-menu:hover {
  margin-top: -1px !important;
}

#navigation ul.nav ul.sub-menu li {
  background-color: #ffffff  !important;
  color: #ffffff;
  margin: 0;
  padding: 0 !important;
}

#navigation ul.nav li ul.sub-menu li a:hover {
  background: #000000 !important;
  color: #ffffff !important;
}

#navigation .nav li.parent > a:after {
  top: 58%;
  border-color: rgba(255, 255, 255, 255) rgba(0, 0, 0, 0) rgba(0, 0, 0, 0);
}

.nav-toggle {
  display: none;
}

#sdrn_menu.sdrn_levels ul li a {
  width: 100%;
}

#sdrn_menu ul {
  border-top: 1px solid #ffffff;
}

#sdrn_bar {
	border-bottom: 1px solid #000000;
}

#sdrn_bar, 
#sdrn_bar *, 
#sdrn_menu, 
#sdrn_menu *{
  font-family: "futura-pt",sans-serif !important;
}

#sdrn_bar .menu_title {
    font-size: 18px;
    line-height: 18px;
}

#sdrn_menu ul li a, #sdrn_menu ul li a:hover {
  font-size: 16px;
}

/*----------- end navigation --------------*/

.header-widget {
  width: 17%;
  position: absolute;
  top: 40px;
  right: 0;
}



#navigation .cart a.cart-contents { 
  height: 20px; 
  width: 150px; 
  color: #3c3c3e !important;
  background-image: url(images/galerie_shopping_cart.png);
  background-repeat: no-repeat;
  background-position: right;
  margin-right: 60px;
  background-size: 42px auto;
  padding-right: 50px;
  text-align: right;
}

#navigation .cart a.cart-contents:hover { 
  background-image: url(images/galerie_shopping_cart_hover.png);
}

#navigation .cart-contents:before {
  display: none;
}

#navigation ul.cart > li:hover {
  background: none !important;
  color: #ffffff;
}

#navigation ul.cart > li > ul > div {
  background-color: #4d4d4f !important;
}

.header-widget .widget_nav_menu {
  margin-top: 1.5em;
}

.wcmenucart-icon-shopping-cart-0 {
  display: none;
}

.widget ul li.wcmenucart-display-right a {
  color: #ffffff !important;
  min-height: 42px;
  background-image: url(images/galerie_shopping_cart.png);
  background-repeat: no-repeat;
  background-position: right 6px;
  background-size: 42px auto;
  padding: 15px 47px 15px 0;
  text-align: right;
}

.widget ul li.wcmenucart-display-right a:hover {
  background-image: url(images/galerie_shopping_cart_hover.png);
  color: #c3a078!important;
}

.slider-pagination,
#loopedSlider {
  margin-bottom: 1em;
}

#homeslider {
  background-color: #ffffff;
  background-image: url(images/bricks.jpg);
  background-repeat: repeat-x;
}

.soliloquy-container {
  margin: 0 auto !important;
}

.soliloquy-next {
    background: url("images/galerie_right.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 26px !important;
    width: 15px !important;
}

.soliloquy-prev {
    background: url("images/galerie_left.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0) !important;
    height: 26px !important;
    width: 15px !important;
}


/* ---------------- content -------------- */

#content {
  padding-bottom: 0;
}

#content.business,
body.page-template-template-contact-php #content {
  padding-top: 0;
  max-width: none !important;
}

.business h2 {
  font-weight: normal;
  margin: 0.7em 0;
}

#loopedSlider a.flex-prev span, 
#loopedSlider a.flex-next span {
  border: none;
  font-size: 59px;
  height: 59px;
}

#loopedSlider.business-slider, 
#loopedSlider.business-slider .container {
  background-color: #d4d4d4;
}

#loopedSlider .flex-viewport {
  max-width: 980px;
  margin: 0 auto;
  text-align: center;
}

ul.flex-direction-nav {
  max-width: 980px;
  margin: 0 auto;
}

/* ------------ end content -------------- */


/*------------- widgets -------------------*/

#footer-widgets {
  margin: 0 auto;
  border-top: 1px solid #949599;
  max-width: 1140px !important;
}

#footer-widgets {
  padding: 0
}

.widget {
  margin-bottom: 30px;
}

.widget p, 
.widget .textwidget,
#respond h3 {
  color: #dddddd;
}

.widget h3 {
  border-bottom: none;
  padding-bottom: 0;
}

.widget .textwidget h3 {
  color: #000000;
  font-weight: normal;
  margin-bottom: 0;
  margin-top: 2px;
  padding-bottom: 0.1em;
  font-size: 1.2em;
}

.widget .textwidget ul.products li.product .price,
.widget .textwidget .wpcf7 h3,
.widget h3.goldcolour {
  color: #c3a078;
}

.widget .textwidget .wpcf7 h3,
.widget h3.goldcolour  {
font-size: 24px;
font-weight: 100;
}
  
.widget .textwidget ul.products li.product a.button {
  display: none;
}

.jckwoovartrans_images.rsMinW, .jckwoovartrans_images.rsMinW .rsOverflow, .jckwoovartrans_images.rsMinW .rsSlide, .jckwoovartrans_images.rsMinW .rsVideoFrameHolder, .jckwoovartrans_images.rsMinW .rsThumbs {
  background-color: #404040 !important;
}

/*---- home featured widgets -------------------*/


.home .footer-widget-1 h3 {
	text-align: center;
}

#footer-widgets .block {
  padding-top: 35px;
}

.home #footer-widgets ul.products li.product {
  width: 100%;
  text-align: left;
  margin: 0;
}

.homeportrait ul.products li.product a img,
.home #footer-widgets .homelandscape img,
.home #footer-widgets .homeportraitsquare img {
  width: 100%;
    
}

.home #footer-widgets ul.products li.product a img {
  height: 354px;
}

.home #footer-widgets .homeportrait ul.products li.product {
  width: 46.4%;
}

.home #footer-widgets .homeportrait ul.products li.first {
  margin-right: 7.2%;
}

.home #footer-widgets .homelandscape {
  width: 48.3%;
}

#footer-widgets.col-2 .block ul.products li.product {
  margin-bottom: 3.5%;
}

#footer-widgets.col-2 .block .homesquare ul.products li.product {
  margin-bottom: 8%;
}

.homeportrait,
.homelandscape,
.homesquare,
.homeportraitsquare {
  float: left;
}

.homeportrait {
  width: 48.3%;
}

.homeportraitsquare {
  width: 22.2%;
}

#homefeatured1 .homeportrait,
#homefeatured2 .homelandscape {
  margin-right: 3.267%;
}

.homesquare		{
	margin-right: 3.421%;
	width: 31.05263%;
}

.homesquare#squarelast {
	float: right;
	margin-right: 0;
}

.home #footer-widgets #text-5 {
	padding-bottom: 3.5%;
}

.home #footer-widgets #text-4 {
	border-top: 1px solid #949599;
	padding-top: 2.5%;
}

.homeportrait h3,
.homelandscape h3,
.homesquare h3,
.homeportraitsquare h3,
.homeportrait .price, 
.homelandscape .price,
.homesquare .price, 
.homeportraitsquare .price {
  text-align: center;
  font-size: 1em !important;
}

.homeportrait .price, 
.homelandscape .price,
.homesquare.price
.homeportraitsquare.price  {
  font-size: 0.9em !important;
}

/*---- home other widgets -------------------*/

.widget ul {
  list-style-type: none;
}

#recent-posts-plus-2 {
  margin-bottom: 46px;
}

#recent-posts-plus-2.widget h3 {
  margin-bottom: 0.648em;
}


#recent-posts-plus-2 ul li {
  line-height: inherit;
  clear: both;
}

#recent-posts-plus-2 ul li img {
  float: left;
  margin: 5px 10px 10px 0;
}
 
input, text area,
textarea#commentsText {
    background: #949599;
    border: none;
    border-radius: 0;
    border-style: solid;
    border-width: 0;
    color: #333333;
    font-family: inherit;
    font-size: 1em;
    margin-bottom: 10px;
    padding: 5px;
    max-width: 240px;
}

.wpcf7 input.wpcf7-submit {
  padding: 4px;
}

.widget .wpcf7 p {
margin-bottom: 0;
}

div.wpcf7-response-output {
margin-top: 0;
}

#footer-widgets.col-2 .block.footer-widget-1 {
    width: 100%;
}

#footer-widgets ul.products {
  margin: 0.1em 0;
}

#footer-widgets .widget_text {
  clear: both;
}

#footer-widgets .block {
    margin-right: 0;
}

#footer-widgets ul#socials {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0.8em 0 0 0;
}

#footer-widgets ul#socials li {
  float: left;
  padding: 0;
  background-repeat: no-repeat;
  background-position: left;
  line-height: 26px;
}

#footer-widgets ul#socials li#instagram {
  width: 32%;
  margin: 0;
  background-image: url(images/instagram.png);
  background-size: 21px 21px;
}

#footer-widgets ul#socials li#instagram:hover {
  background-image: url(images/instagram-over.png);
}

#footer-widgets ul#socials li#twitter {
  width: 25%;
  margin: 0 8% 2% 0;
  background-image: url(images/twitter.png);
  background-size: 25px 20px
}

#footer-widgets ul#socials li#twitter:hover {
  background-image: url(images/twitter-over.png);
}

#footer-widgets ul#socials li#instagram a {
  padding-left: 32%;
}

#footer-widgets ul#socials li#twitter a {
  padding-left: 43%;
}

#footer-widgets ul#socials li a {
  color: #dddddd;
}

#footer-widgets ul#socials li a:hover {
  color: #c3a078;
}

@media screen and (max-width:360px) {
  #footer-widgets.col-2 .block {
    width: 100%;
  }
  
}

/*--------- end widgets -------------------*/


/*------------- products ------------------*/

.sku_wrapper,
li.product-category h3 .count,
.archive ul.products li.product a.button,
.related ul.products li.product a.button,
.upsells ul.products li.product a.button,
.orderby {
  display: none;
}

ul.products h3 {
  margin-top: 2px;
  font-size: 1em;
}

li.product-category h3 {
  bottom: 0;
  width: 90%;
  text-align: center;
  padding: 5%;
  font-weight: normal;
  font-size: 20px;
}

li.product-category h3:hover {
  background-image: none;
}

ul.products li.product .price {
    color: #c3a078;
    display: block;
}

.woocommerce .summary p.price {
  color: #c3a078;
  font-size: 1.2em;
}

.woocommerce .summary table.variations {
    border: 1px solid #4D4D4F;
    font-size: 16px;
}

.woocommerce .summary form {
  padding-left: 0;
  padding-right: 0;
}

.woocommerce .woocommerce_tabs ul.tabs li a, 
.woocommerce .woocommerce-tabs ul.tabs li a {
  border-top: 2px solid #404040;
}

.woocommerce .summary {
    width: 31.8966%;
}

#jck_wt_images {
  margin-bottom: 3em;
  width: 65.9482% !important;    
}

table.variations select,
select.orderby {
  background-color: #949599 !important;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #ffffff;
  font-family: "futura-pt",sans-serif !important;
  font-size: 14px;
  border: 0 !important;  /*Removes border*/
      -webkit-appearance: none;  /*Removes default chrome and safari style*/
      -moz-appearance: none; /* Removes Default Firefox style*/
      background: url('images/dropdown2.png') no-repeat;  /*Adds background-image*/
      background-position: right;
      text-indent: 0.01px; /* Removes default arrow from firefox*/
      text-overflow: "";  /*Removes default arrow from firefox*/
      padding: 5px;
      min-width: 170px;
      outline: none;
      text-shadow: none;
}

.woocommerce .summary table.variations tr td {
  padding: 0.857em 1.2em; 
}

table.variations select .enabled {
  padding: 3px 0;
}

a.button, a.comment-reply-link, #commentform #submit, .submit, input[type="submit"], input.button, button.button, #wrapper .woo-sc-button {
	font-size: 0.75em;
}

.reset_variations {
  margin-top: 15px;
}

.quantity .qty {
  color: #ffffff;
}

.pp_hoverContainer,
.pp_gallery {
	display: none !important;
}

div.pp_woocommerce .pp_content_container {
	border-radius: 0;
}

.related .price .amount:nth-of-type(3),
.archive .price .amount:nth-of-type(3),
.upsells .price .amount:nth-of-type(3),
.home .price .amount:nth-of-type(3),
.woocommerce .summary p.price .amount:nth-of-type(3),
.product-type-simple .from {
  display: none;
}

.archive .price,
.related .price,
.home .price,
.upsells .price,
.woocommerce .summary p.price {
  color: rgba(0,0,0,0.0) !important;
}

.archive .price .amount,
.archive .price .from,
.related .price .amount,
.related .price .from,
.upsells .price .amount,
.upsells .price .from,
.home .price .amount,
.home .price .from,
.woocommerce .summary p.price .amount,
.woocommerce .summary p.price .from   {
  color: #000000 !important;
}

div.pp_woocommerce .pp_content_container {
  background: none !important;
}

.single .price {
  font-size: 24px;
}

.single .related .price,
.single .upsells .price {
  font-size: 1em;
}

.variations_button {
  margin-top: 14px;
}

.woocommerce .images img {
  	width: 100% !important;
  	height: auto !important;
  	position:relative !important;
	}

.jck-wt-fullscreen, .jck-wt-play {
  position: relative;
}

.jck-wt-fullscreen {
  right: 0;
  top: 2px;
}

.woocommerce .summary h1.product_title {
  font-size: 22px;
}

@media screen and (min-width:1768px) {

  ul.products {
    padding: 0 1px !important;
  }


  #footer-widgets ul.products {
    padding: 0 !important;
  }

}

@media screen and (min-width:980px) {

  .tax-product_cat ul.products li.product {
  	padding: 1% 0;
  	border-bottom: 1px solid #949599;
  	min-height: 378px;
  }
  
  .tax-product_cat ul.products li.product.last {
  	padding-right: 0;
  }
  
  #wrapper {
	  padding: 0 30px;
 }  
  
}

@media screen and (min-width:768px) {

     ul.products li.product {
    clear: none;
    margin-right: 4%;
    width: 22%;
  }
  
  ul.products li.product a img {
    width: auto;
    margin: auto;
  }
  
  .tax-product_cat .productimageblock {
    height: 310px;
  }
  
  .tax-product_cat .productimageblock img {
    max-height: 310px;
  }
  
}

.count {
display:none;
}


/*---------- end products ------------------*/

/*---------- cart pages --------------------*/

table.cart img {
    width: auto;
}

.entry table,
.entry table thead th,
.entry table tbody th {
    background: none;
    box-shadow: none;
}

.entry p#billing_country_field,
.entry p#shipping_country_field {
  color: #333333;
}

.entry p#billing_country_field label {
  color: #ffffff;
}

.chzn-container-single .chzn-single {
  background-color: #949599 !important;
  background-image: none;
  border: none;
  border-radius: 0;
  box-shadow: none;
  color: #333333;
  font-family: Georgia;
}

.form-row.woocommerce-validated .input-text, 
.form-row.woocommerce-validated .chzn-single {
  border: none;
}

.woocommerce_message, 
.woocommerce-message,
.entry ul.woocommerce-error, 
.entry ul.woocommerce_error {
    background-color: #ffffff;
}

.woocommerce .summary form {
  border-color: #4d4d4f !important;
}

.woocommerce .woocommerce_tabs, 
.woocommerce .woocommerce-tabs {
  border-top: 1px solid #4d4d4f !important;
}

.entry table {
  border: 1px solid #4d4d4f;
}

.entry table thead th {
    border-bottom: 1px solid #4D4D4F;
    border-right: 1px solid #4D4D4F;
}

.entry table tbody td,
.entry table tbody th {
  border-bottom: 1px solid #4d4d4f;
}

.entry table td, 
.entry table th {
  border-right: 1px solid #4d4d4f;
}

.entry p#shiptobilling {
  margin-bottom: 1em;
}

.cart_item td.product-name a {
	text-decoration: underline;
}

.cart_item .product-name p,
.variation-pa_size p,
.variation-pa_frame p,
variation-pa_paper p {
	color: #c3a078;
}

input.input-checkbox {
	margin-bottom: 0;
}

.woocommerce-cart h1 {
  float: left;
}

.continue {
  float: right;
  margin-top: 7px;
}

ul.payment_methods li img {
  display: none;
}

.payment_methods + .form-row #place_order {
  float: left;
  margin-left: 20px;
}

/*-------- end cart pages ------------------*/

/*-------------- news ----------------------*/

body.two-col-left-980 #main-sidebar-container #main {
  width: 62%;
}

.two-col-left #main-sidebar-container #sidebar, 
.two-col-right #main-sidebar-container #main {
  width: 30%;
  padding-right: 2.653%;
}

.entry img, 
img.thumbnail, 
#portfolio .group.portfolio-img img,
.widget ul.product_list_widget li img {
  background: none;
  border: none !important;
}

.widget ul.product_list_widget li img {
  width: 50px;
}

.post {
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #4d4d4f;
}

.postdate {
  float: right;
  color: #646464;
  padding-top: 8px;
}

.woo-pagination span.extend, .woo-pagination .page-numbers {
  color: #000000;
  font-family: "futura-pt",sans-serif !important;
}

.woo-pagination a:link, .woo-pagination a:visited, .woo-pagination a:active, .nav-entries a span {
    background: none repeat scroll 0 0 #000000;
    border: medium none;
    color: #ffffff !important;
    transition: all 0.2s ease-in-out 0s
    font-family: "futura-pt",sans-serif !important;
}

.woo-pagination a:hover {
    background: none repeat scroll 0 0 #646464;
}

/*-------------- end news --------------*/

/*-------------- footer --------------*/

#footer {
  padding-top: 10px;
 padding-bottom: 7px;
 margin: 0;
}

#footercontent {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0;
}

#footer a,
#footer p {
  color: #949599;
}

#footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

#footer .enhance_shortcode_menu_inline li {
margin-left: 0;
margin-right: 20px;
}

#footer .col-left {
  margin-bottom: 3px;
}

#fancybox-wrap {
  z-index: 20000;
}

#footer .shortcode_menu {
  padding-left: 0;
}

.creditcards li {
	float: left;
	margin-right: 5px;
}

.creditcards li.lastcredit {
	margin-right: 0;
}

.creditcards li img {
	height: 25px;
	width: auto;
}

/*---------- end footer --------------*/

/*-------------- responsive --------------*/

@media screen and (max-width:1024px) {
   .zm-viewer {
  	display: none !important;
  }
  
  .header-widget {
  	width: 20%;
  }
}

@media screen and (min-width:901px) {
	   .woocommerce .images {
    width: 64%;
    float: left;
    overflow:hidden !important;
  }
  
  .jck-wt-all-images-wrap {
  	margin-left: 10%;
  }

}


@media screen and (max-width:900px) {
  
  .home #footer-widgets ul.products li.product a img {
    height: 180px;
  }
  
  #footer-widgets {
    width: 96%; 
    margin: 0 auto;
  }
  
  #jck_wt_images {
    width: 100% !important;
    height: auto !important;
  }
  
  .woocommerce .summary {
    float: left;
    width: auto;
  }
  
  .header-widget {
  	width: 25%;
  }

}

@media screen and (max-width:800px) {
  
  .home #footer-widgets ul.products li.product a img {
    height: 170px;
  }
  
  .homesquare#squarefirst		{
		margin-right: 4.8%;
	}
  
  #navigation {
    display: none !important;
  }
  
  #main {
    border-top: 1px solid #949599;
    padding-top: 3% !important;
  }
  
  #header {
    padding-bottom: 1% !important;
  }

}

@media screen and (max-width:769px) {

  #header {
    padding: 5% 0;
  }  
  
  #logo {
    margin: 0 0 0 3%;
  }
  
  .header-widget {
    top: 0;
    margin-top: 35px;
    width: 30%;
  }
  
  #inner-wrapper {
    padding: 0;
  }
  
  .soliloquy-container .soliloquy-direction-nav {
    display: none !important;
  }
  
  #main {
    width: 96%;
    padding: 0;
    margin: 0 auto;
  }

  .business #main {
    border-top: none;
    width: 100%
  }
  
  
  #footer-widgets.col-2 .block,
   #footer-widgets.col-2 .block.footer-widget-1 {
    clear: both;
    width: 100%;
  }
  
  .footer-widget-2 .widget {
    border-top: 1px solid #949599;
    padding: 1.3% 0;
  }
  
  .home #footer-widgets ul.products li.product a img {
    height: 230px;
  }
  
  .homesquare#squarefirst		{
		margin-right: 8.2%;
	}
  
  .homecontact {
    width: 48.6%;
    float: left;
  }
  
  .homecontact#socials {
    margin-right: 2.8%;  
  }
  
  #recent-posts-plus-2 {
    margin-bottom: 3%;
  }
  
  #footer {
    margin-top: 1%;
  }
  
 
  
}

@media screen and (max-width:767px) {
  
   #footercontent {
    padding: 0.5% 2.2% 5% 2.2%;
  }
  
  ul.products li.product a img {
    margin-bottom: 0;
  }
  
  body.two-col-left-980 #main-sidebar-container #main {
    width: 96%;
  }

  .two-col-left #main-sidebar-container #sidebar, .two-col-right #main-sidebar-container #main {
    padding-right: 0;
    width: 96%;
    margin: 0 auto;
  }

  .two-col-left #main-sidebar-container #sidebar .widget {
    width: 50%;
    float: left;
  }
  
  table.cart .product-thumbnail {
    display: table-cell;
    position: relative;
    left: auto;
  }
  
  .wpmenucart-display-right {
  	float: none !important;
  }
  
}

@media screen and (max-width:700px) {
  
  .home #footer-widgets ul.products li.product a img {
    height: 210px;
  }
  
  .entry table.pricetable,
  .entry table.pricetable strong,
  .entry table.pricetable p {
  	font-size: 10px;
  }
  
  .homesquare#squarefirst		{
		margin-right: 7.3%;
	}
 
}

@media screen and (max-width:640px) {
  
  .homesquare#squarefirst		{
		margin-right: 5%;
	}

}

@media screen and (max-width:600px) {
  
  .header-widget {
    margin-top: 28px;
  }    
    
   .home #footer-widgets ul.products li.product a img {
    height: 190px;
  }
  
  .homesquare#squarefirst		{
		margin-right: 6%;
	}
	
	.header-widget {
  	width: 35%;
  }

}

@media screen and (max-width:540px) {
  
  .homesquare#squarefirst		{
		margin-right: 3%;
	}

}

@media screen and (max-width:540px) {
  
  .homesquare#squarefirst		{
		margin-right: 2%;
	}

}

@media screen and (max-width:520px) {
  
  .homesquare#squarefirst		{
		margin-right: 1%;
	}

}

@media screen and (max-width:505px) {
  
  .homesquare#squarefirst		{
		margin-right: 0;
	}

}

@media screen and (max-width:480px) {
  
  .header-widget {
    margin-top: 23px;
    width: 45%;
    right: 2%;
  }
  
  #logo {
  	width: 150px;
  }
  
  .widget ul li.wcmenucart-display-right a {
    background-size: 32px auto;
    background-position: right 8px;
  }
  
  .homeportrait,
  .home #footer-widgets .homelandscape,
  .homesquare {
    width: 100%;
  }
  
  .home #footer-widgets ul.products li.product a img {
    height: 300px;
  }
  
  .homeportraitsquare {
  	width: auto;
  	float: none;
  }
  
  .home #footer-widgets .homeportraitsquare ul.products li.product a img {
  	width: auto;
  }
  
  .home #footer-widgets .homeportrait ul.products li.product {
    width: 48.5%;
  }
  
  .home #footer-widgets .homeportrait ul.products li.first {
    margin-right: 3%;
  }
  
  .homecontact {
    width: 100%;
    float: none;
  }
  
  .homecontact#socials {
    border-bottom: 1px solid #949599;
    margin: 1% 0 2% 0;
    padding-bottom: 2%;
  }
  
  #jck_wt_images {
    min-height: 100%;
    margin-bottom: 1em;
  }
  
  .two-col-left #main-sidebar-container #sidebar .widget {
    width: 100%;
    float: none;
  }
  
  .woocommerce .summary h1.product_title,
  .woocommerce .woocommerce_tabs .panel h2, 
  .woocommerce .woocommerce-tabs .panel h2,
  .woocommerce .related h2, 
  .woocommerce .upsells h2,
  .business h2 {
    font-size: 1.2em;
  }
  
  .woocommerce .summary p.price {
    font-size: 1em;
  }
    
  .entry table td, .entry table th {
    padding: 0.857em 0.5em;
  }
  
  .entry table thead th {
    padding: 0.5em;
    text-transform: none;
  }
}

@media screen and (max-width:375px) {

  .header-widget {
    margin-top: 18px;
  }
    
    .home #footer-widgets ul.products li.product a img {
    height: 230px;
  }

}

@media screen and (max-width:360px) {

  .header-widget {
  	width: 50%;
  }
  
  .home #footer-widgets ul.products li.product a img {
    height: 220px;
  }
  
  #logo img {
    width: 85%;
  }

}

@media screen and (max-width:320px) {

  .home #footer-widgets ul.products li.product a img {
    height: 210px;
  }
  
  .header-widget .widget_nav_menu {
    margin-top: 0.9em;
  }
  
  li.product-category h3 {
    padding-right: 6%;
  }
  
  #footer-widgets {
    width: 94.9%;
    margin: 0 2.2% 0 2.9%;
  }
  
  .cart_item .product-thumbnail img {
  	width: 100px;
  }
  
  form#searchform input#s {
    width: 75%;
  }

}

/*---------- end responsive --------------*/
