<style type="text/css">	

body {		margin: 0;		padding: 0;	}		

#header {		background-color: #404040;		max-width: 980px;		margin: 0 auto;		padding: 35px 0; width: 100%;
	}		
	
	#logo {		max-width: 138px;		margin: 0 auto;		float: none;	}		#logo img {		width: 100%;	}
	
	table.container {
	 width: 100% !important;
	 max-width: 980px !important;
	}
	
	
	</style></head>
	
	<body><div id="header">	<div id="logo">			<img src="http://galerie-prints.carciofino.co.uk/wp-content/uploads/2015/06/galerie_logo.png" alt=""/>	</div></div></body>